@import "../framework/framework.scss";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap");

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --heading: "Playfair Display", serif;
  --body-text: "Libre Baskerville", serif;
  --small-meta: "Poppins", sans-serif;

  --page-border-colour: rgb(233, 233, 233);
  --text-colour: #222;

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
}

body {
  margin: 0;
  border: var(--space-2xs) solid var(--page-border-colour);

  font-family: var(--body-text);
  font-size: var(--step--1);
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-colour);
}

p {
  margin-block-start: 0;
  margin-block-end: var(--space-m);
}

.site-header {
  padding: var(--space-s) var(--space-m);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include media(">=size-md") {
    flex-direction: row;
  }

  & .branding {
    font-family: var(--small-meta);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: var(--step-1);
    margin-block-end: var(--space-xs);
    @include media(">=size-md") {
      margin-block-end: 0;
    }
  }

  & nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    @include media(">=size-md") {
      flex-wrap: nowrap;
    }
  }

  & a {
    font-family: var(--small-meta);
    text-decoration: none;
    color: inherit;
    font-weight: 500;
  }
}

.article-header {
  text-align: center;
  text-wrap: balance;

  & p {
    text-transform: uppercase;
    margin-block-end: var(--space-s);
  }

  & p.category {
    font-family: var(--small-meta);
  }

  & h1 {
    font-size: var(--step-3);
    margin: 0;
    font-family: var(--heading);
    font-weight: 600;
    line-height: 1.2;
    margin-block-end: var(--space-m);
  }
}

// Drop Cap styles

// https://www.youtube.com/watch?v=nt7p3CuxUzA&t=22s

// https://css-tricks.com/snippets/css/drop-caps/

// https://developer.chrome.com/blog/control-your-drop-caps-with-css-initial-letter

.article-body {
  p.dropcap:first-letter {
    initial-letter: 4;
    margin-inline-end: 1rem;
    line-height: 1;
  }
}

figure {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: var(--space-l);
  margin-inline: 0;
  & figcaption {
    font-size: var(--step--2);
    text-align: center;
    margin-block-start: var(--space-xs);
  }
}

blockquote {
  margin-block-start: 0;
  margin-block-end: var(--space-m);
  margin-inline: 0;
  padding: 0;
  font-size: var(--step-3);

  font-weight: 600;
  line-height: 1.1;
  font-family: var(--heading);
  @include trim-capital;

  text-align: center;
  text-wrap: pretty;
}

.social {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-block: var(--space-m);
  padding: 0;
  & svg {
    inline-size: var(--space-m);
    block-size: var(--space-m);
    fill: var(--text-colour);
  }
}

aside {
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  & li {
    margin-block-end: 1rem;
  }
}

.related {
  margin-block: var(--space-l);

  & h2 {
    text-align: center;
    text-transform: uppercase;
    margin-block: var(--space-s);
  }

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;

    inline-size: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carousel;

    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    &::scroll-button(right),
    &::scroll-button(left) {
      content: "→";
      border: none;
      background-color: black;
      color: white;
      font-size: 3rem;
      block-size: 60px;
      inline-size: 60px;
      border-radius: 50%;
      padding-block-end: 0.1em;
      cursor: pointer;
      position: fixed;
      position-anchor: --carousel;
      position-area: right center;
      translate: -50%;
    }

    &::scroll-button(left) {
      content: "←";
      position-area: left center;
      translate: 50%;
    }

    &::scroll-button(right):disabled,
    &::scroll-button(left):disabled {
      opacity: 0.5;
      cursor: auto;
    }

    & li {
      flex: 0 0 100%;
      scroll-snap-align: start;
      text-align: center;

      @include media(">=size-sm") {
        flex: 0 0 auto;
      }

      &::scroll-marker {
        content: "";
        block-size: 1em;
        inline-size: 1em;
        background-color: blue;
        border-radius: 50%;
      }
    }
  }

  & img {
    aspect-ratio: 1 / 1;

    @include media(">=size-sm") {
      inline-size: 200px;
    }
  }

  & span {
    margin-block-start: var(--space-xs);
  }

  & a {
    font-size: var(--step--2);
    text-decoration: none;
  }
}
