@import "../framework/framework.scss";

@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --sans-serif: "Bubblegum Sans", sans-serif;
  --japanese-sans-serif: "Noto Sans JP", sans-serif;

  --background-colour: black;
  --text-colour: white;
  --heading-colour: gold;

  --step--2: clamp(0.5556rem, 0.8598rem + -0.3925vw, 0.7813rem);
  --step--1: clamp(0.8333rem, 0.9737rem + -0.1812vw, 0.9375rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.1674rem + 0.913vw, 1.875rem);
  --step-2: clamp(1.62rem, 1.2052rem + 2.0739vw, 2.8125rem);
  --step-3: clamp(1.944rem, 1.1528rem + 3.9561vw, 4.2188rem);
  --step-4: clamp(2.3328rem, 0.9431rem + 6.9484vw, 6.3281rem);
  --step-5: clamp(2.7994rem, 0.4714rem + 11.6397vw, 9.4922rem);

  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem);
}

html,
body {
  margin: 0;
  padding: 0;
  block-size: 100%;
  inline-size: 100%;
  overflow: hidden;
}

body {
  background: black;
  font-family: var(--sans-serif);

  display: grid;
  grid-template-columns: repeat(24, minmax(0, 1fr));
  grid-template-rows: repeat(24, minmax(0, 1fr));
  inline-size: 100vw;
  block-size: 100vh;

  @include container;
}

// img {
//   grid-column: 1 / -1;
//   grid-row: 1 / -1;
//   inline-size: 100%;
//   block-size: 100%;
//   object-fit: cover;
//   object-position: top;
//   position: absolute;
// }

picture {
  grid-column: 1 / -1;
  grid-row: 5 / 23;

  inline-size: 100%;
  block-size: 100%;
  display: flex;

  & img {
    inline-size: 100%;
    block-size: auto;
    object-fit: cover;
    mask-image: url("https://res.cloudinary.com/liquidweb/image/upload/v1750242821/grid/svg/bamboo-water-leaves.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    @include media(">=size-md") {
      mask-size: contain;
    }
  }

  @include media(">=size-md") {
    grid-row: 4 / 24;
  }
}

h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;

  font-family: var(--japanese-sans-serif);
  color: var(--text-colour);
  font-size: var(--step-2);
  margin: 0;
  margin-block-start: var(--space-2xs);

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  z-index: 1;

  @include media(">=size-md") {
    grid-column: 17 / 25;
    grid-row: 2 / 3;
    justify-self: start;
    margin-block-start: 0;
  }
}

h1 {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
  justify-self: center;
  align-self: center;

  text-wrap: balance;
  margin: 0;
  font-family: var(--sans-serif);
  color: var(--heading-colour);
  font-size: var(--step-3);
  font-weight: 900;
  text-transform: uppercase;

  z-index: 1;

  @include media(">=size-md") {
    grid-row: 3 / 6;
    font-size: var(--step-5);
    align-self: start;
  }

  @include media(">=size-lg") {
    grid-row: 3 / 6;
    // align-self: center;
    font-size: var(--step-5);
  }
}

p {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  text-align: center;

  font-family: var(--japanese-sans-serif);
  color: var(--text-colour);
  font-size: var(--step-2);
  @include trim-lowercase;
  margin: 0;
  margin-block-start: 1rem;
  text-wrap: balance;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  z-index: 1;

  @include media(">=size-md") {
    grid-column: 2 / 3;
    grid-row: 7 / 22;
  }
}

footer {
  grid-column: 1 / -1;
  grid-row: 23 / 25;

  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  & time {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    justify-self: center;
    align-self: center;

    font-family: var(--japanese-sans-serif);
    color: var(--text-colour);
    font-size: var(--step-1);

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    @include media(">=size-md") {
      grid-column: 2 / 12;
      grid-row: 1 / 2;
      justify-self: start;
    }
  }

  & img {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    align-self: center;

    inline-size: 100%;
    block-size: 100%;
    padding: var(--space-2xs);

    @include media(">=size-md") {
      grid-column: 22 / 24;
      grid-row: 1 / 2;
    }
  }
}
