body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  width: min(70rem, 100% - clamp(2rem, 5vw, 4rem));
  margin-inline: auto;
}

.primary-header {
  display: grid;
  /* grid-template-areas: "stack"; */
  place-items: center;
}

.primary-header > * {
  /* grid-area: stack; */
  grid-row: 1/-1;
  grid-column: 1/-1;
}

h1 {
  margin: 0;
  padding: 0;
}

/* .main-layout {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background: darkblue;
}

main {
}
footer {
  background: darkblue;
} */